{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container ">
    <h1>Ваша корзина</h1>
    <p></p>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Товар</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Цена за штуку</th>
            <th scope="col">цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with prod=item.item %}
                <tr>
                    <th scope="row">
                        <div class="text-wrap">
                            <a href="{% url 'shop:item_view' prod.id%}" class="text-dark">{{ prod.name }}</a>
                        </div>
                    </th>
                    <td>{{ item.quantity }} <a href="{% url 'cart:cart_remove' prod.id%}"><i class="bi bi-trash"></i></a></td>
                    <td class="num">${{ item.display_price }}</td>
                    <td class="num">${{ item.display_total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого</td>
            <td colspan="2"></td>
            <td class="num"><strong>${{ cart.get_total_price }}</strong></td>
        </tr>
        </tbody>
    </table>
    <div class="row g-0">
        <div class="col-md-8"></div>
        <div class="col-md-4">
    <form action="{% url 'shop:order_create' %}" method="post">
        {% csrf_token %}
        {{ order_form }}
        <p class="text-end">
            <a href="{% url 'cart:cart_remove_all' %}" class="btn btn-danger my-2">Очистить</a>
            <a href="{% url 'shop:main' %}" class="btn btn-secondary my-2">Продолжить покупки</a>
            <input type="submit" value="Купить" class="btn btn-success my-2">
        </p>
    </form>
        </div>
    </div>
</div>
{% endblock %}
